@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-1">Welcome</h6>
    <h6 class="display-1">Greetings to u all</h6>
    <h6 class="display-1">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h6>
</div>
